<div class="lg:mt-8 mt-6">
  <%= form_with(model: product) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4 mt-6">
      <%= form.label :Nombre, :class => 'block text-blue-600 mb-2' %>
      <%= form.text_field :name, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <%= form.label :Precio, :class => 'block text-blue-600 mb-2	' %>
      <%= form.text_field :price, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <%= form.label :Cantidad, :class => 'block text-blue-600 mb-2' %>
      <%= form.text_field :quantity, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <%= form.label :Descripción, :class => 'block text-blue-600 mb-2' %>
      <%= form.text_field :description, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <div><%= form.label :picture, label="Portada del Proyecto", class: "md:text-base md:py-2" %></div>
      <div><%= form.file_field :product_img, direct_upload: true%></div>
    </div>

    <div class="text-center lg:mt-6 mt-10">
      <%= form.submit 'Guardar', :class => 'text-white rounded cursor-pointer w-32 h-10 transition duration-150 ease-in-out bg-blue-900 transform hover:-translate-y-1 hover:scale-110' %>
    </div>
  <% end %>
</div>
