<%= render 'layouts/navbar' %>
 
<div>
  <%= render 'hero' %>
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <%= render 'categories' %>
  </div>
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <%= render 'featured_products' %>
  </div>
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <%= render 'new_products' %>
  </div>
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <%= render 'product_offers' %>
  </div>
</div>

<%= render 'layouts/footer' %>
