<div class="container max-w-md mx-auto xl:max-w-3xl h-full flex bg-white rounded-lg shadow overflow-hidden xl:mt-24 mt-16">
  <div class="relative hidden xl:block xl:w-1/2 h-full">
    <img class="absolute h-auto w-full object-cover" src="https://images.unsplash.com/photo-1606824722920-4c652a70f348?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80"/>
  </div>
  <div class="w-full xl:w-1/2 p-8">
    <h1 class="text-2xl font-bold">Sign in to your account</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4 mt-6">
        <%= f.label :email, :class => 'block text-gray-700 text-sm font-semibold mb-2' %><br />
        <%= f.email_field :email, autofocus: true, placeholder: 'Your email', autocomplete: "email", :class => 'text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10' %>
      </div>
      <div class="mb-4 mt-6">
        <%= f.label :password, :class => 'block text-gray-700 text-sm font-semibold mb-2' %><br />
        <%= f.password_field :password, placeholder: 'Your password', autocomplete: "current-password", :class => 'text-sm bg-gray-200 appearance-none rounded w-full py-2 px-3 text-gray-700 mb-1 leading-tight focus:outline-none focus:shadow-outline h-10' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="flex w-full mt-8">
        <%= f.submit "Log in", :class => 'w-full bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10' %>
      </div>
    <% end %>
  </div>
<div>
