<div class="container lg:mt-12 mt-6 mx-auto flex justify-center">
  <div class="lg:mx-36 mx-6">
    <div class="font-bold text-center text-2xl text-blue-800 text-center">
      <h1> Negocios </h1>
    </div>
    <table class="table-auto lg:mt-4 mt-2">
      <thead>
        <tr class="bg-gray-500 text-white text-left">
          <th class="w-52 py-2"> Nombre </th>
          <th class="w-52 py-2"> Usuario </th>
          <th class="w-28"> Categoría </th>
          <th class="w-28"> Productos Totales </th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td class="py-4"><%= company.name %></td> 
            <td class="py-4"><%= company.user.email %></td>
            <td class="py-4 px-1"><%= company.category.name %></td>
            <td class="py-4 px-1"><%= company.sum_products%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<nav class="container text-center my-6">
  <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
</nav>
