<div class="py-3">
  <h1 class="text-center font-bold text-xl text-blue-800">Hello, welcome back Super Admin</h1>
</div>

<div class="text-left py-3 md:mx-44 m-5">
  <%= link_to 'Nuevo Administrador', new_administrator_path, :class => 'bg-blue-900
  text-white font-bold rounded p-2' %>
</div>

<div class="md:px-4 md:mx-40 grid md:grid-cols-4 md:gap-x-2 gap-y-4 m-5 md:m-0 md:py-4">
  <% @administrators.each do |administrator| %>
    <div class=" md:py-5 rounded-lg md:overflow-hidden shadow-lg md:text-base font-normal md:text-left md:tracking-normal 
      md:align-middle md:space-y-1">

      <div class="md:py-1 md:text-xl font-bold md:px-2 py-2 ml-3 md:ml-4">
        <%= administrator.name %>
      </div>

      <div class="md:py-1 md:text-lg font-light md:px-2 py-2 ml-3 md:ml-4">
        <%= administrator.email %>
      </div>

      <div class="md:px-1 flex py-2 md:py-0">        
        <div class="md:p-2 ml-3 md:ml-0">
          <%= button_to 'Ver Usuario', administrator_path(administrator), :class => 'bg-blue-900
          text-white font-bold rounded p-1', :method => :get %>
        </div> 

        <div class="md:p-2 ml-3 md:ml-0">
          <%= button_to 'Editar Usuario', edit_administrator_path(administrator), :class => 'bg-blue-900
          text-white font-bold rounded p-1', :method => :get %>
        </div>     
      </div>
    </div>  
  <% end %>
</div>
<nav class="container text-center my-6">
  <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
</nav>
