<div class="lg:mt-8 mt-6">
  <%= form_with(model: @company) do |form| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @company.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4 mt-6">
      <div><%= form.label :cover, label="Nombre", class: "md:text-base md:py-2" %></div>
      <%= form.text_field :name, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <div><%= form.label :cover, label="Dirección", class: "md:text-base md:py-2" %></div>
      <%= form.text_field :address, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <div><%= form.label :cover, label="Teléfono", class: "md:text-base md:py-2" %></div>
      <%= form.text_field :phone, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <div class="mb-4 mt-6">
      <div><%= form.label :cover, label="Categoría", class: "md:text-base md:py-2" %></div>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name%>
    </div>

    <div class="mb-4 mt-6">
      <div><%= form.label :cover, label="Ciudad/Localidad", class: "md:text-base md:py-2" %></div>
      <%= form.collection_select :town_id, Town.order(:name), :id, :name %>
    </div>

    <div class="text-center lg:mt-6 mt-10">
      <%= form.submit 'Guardar', :class => 'text-white rounded cursor-pointer w-32 h-10 transition duration-150 ease-in-out bg-blue-900 transform hover:-translate-y-1 hover:scale-110' %>
    </div>
  <% end %>
</div>
