<div class="lg:mt-8 mt-6">
  <%= form_with(model: @town) do |form| %> 
    <div class="mb-4 mt-6">
      <%= form.label :cover, label="Nombre", :class => 'block text-blue-600 mb-2' %>
      <%= form.text_field :name, :autocomplete => :off, :class => 'lg:w-96 w-auto bg-gray-200 rounded border-none' %>
    </div>

    <%= form.collection_select :township_id, Township.order(:name), :id, :name%>

    <div class="text-center lg:mt-6 mt-10">
      <%= form.submit 'Guardar', :class => 'text-white rounded cursor-pointer w-32 h-10 transition duration-150 
      ease-in-out bg-blue-900 transform hover:-translate-y-1 hover:scale-110' %>
    </div>
  <% end %>
</div>
